* {
    font-family: 'Roboto', sans-serif;
}
main {
    padding: 3% 15%;
    min-height: 72.3vh;
    background: url('images/images.jpg');
}

.alert-success {
    border-radius: 5px;
    margin: 10px 0;
    color: green;
    font-weight: bold;
}
.btn-top {
    display: flex;
    align-items: center;
}

.btn {
    /* Style the button container */
    border: none;
}
.btn_xoa {
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
}
.btn_duyet {
    background-color: #009933;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
}
.btn a,
.btn input[type="submit"] {
    display: block;
    background-color: #366d87;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer; /* Add cursor style for better user experience */
}
.btn_back {
    background-color: #366d87;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.btn_back:hover {
    background-color: #2a5570;

}
.btn a:hover {
    background-color: #2a5570;
}
.btn_xoa:hover {
    background-color: #cc0000;
}
.btn_duyet:hover {
    background-color: #008000;
}
.dropdown-toggle {
    cursor: pointer;
    border: none;
    padding: 6px;
    background-color: #366d87;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
}

.ques-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    width: auto;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.sub-menu:hover .ques-menu {
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    color: #000;
    padding: 10px;
}

.dropdown-item:hover {
    background-color: rgba(255, 153, 69, 0.1);
}

table {
    width: 100%;
    margin-top: 10px;
}

table,
tr,
th,
td {
    border-collapse: collapse;
    border: 1px solid #366d87;
    padding: 10px;
}

th {
    color: #366d87;
}

.table form {
    display: flex;
    flex-direction: column-reverse;
}

.btn-table {
    margin: 5px;
    width: 100px;
}
