.kq-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.kq-content{
    border: 10px solid #366d87;
    border-radius: 10px;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff
}
.score h1{
    color: orange;
}
.score h3{
    color: #366d87;
    margin-top: 10px;
}