.kq-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.kq-content{
    border: 10px solid #366d87;
    border-radius: 10px;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;

}
.score h1{
    color: orange;
}
.score h3{
    color: #366d87;
    margin-top: 10px;
}
main {
    padding: 3% 15%;
    min-height: 72.3vh;
    background: url('images/images.jpg');
}
.title_kh{
    font-size: 20px;
    font-weight: bold;
}
.btn {
    background-color: #0373fc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    border: none;
    text-align: center;
    font-weight: bold;
    color: #fff;

} 