main {
    padding: 3% 15%;
    min-height: 72.3vh;
    background: url('images/images.jpg');
}

.title_kh{
    font-size: 20px;
    font-weight: bold;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 30px;
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.btn {
    background-color: #0373fc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    border: none;
    text-align: center;
    font-weight: bold;
    
  }

.btn:hover {
    opacity: 0.8;
}
form div {
    width: 100%;
    margin-top: 10px;
}

input{
    width: 97.5%;
    padding: 10px;
    margin-top: 5px;
}
label{
    color: #366d87;
}

.form-check-input{
    width: 20px;
    margin-right: 20px;
    padding: 10px;
}

.input-group-prepend {
    display: flex;
    width: 99%;;
}
.ans {
    display: flex;
}