main {
    padding: 3% 15%;
    min-height: 72.3vh;
    background: url('images/images.jpg');
}


img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.title {
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  color: #366d87;
}

.container-info {
  background-color: #fff;
  padding: 30px;
  margin-top: 20px;
  border: 10px solid #366d87;
  border-radius: 10px;
}

.container-info .info {
  display: flex;
}
.container-info .info #info-text {
  padding: 50px;
}

.container-info .info #info-text .text {
  height: 40px;
  color: #366d87;
}
